<div>
  <div>
    <header class="head">
      <h1><strong>RENAULT, İDDİALI LANSMANLARINI ÖDÜLLERLE TAÇLANDIRIYOR</strong></h1>
    </header>
    <p class="sari"></p>
    <p id="tarih"><strong>15.03.2025</strong></p>
    <div class="ana-görsel">
      <img
        src="https://cdn.group.renault.com/ren/master/renault-new-cars/product-plans/austral/reveal/renault-austral-005-1.jpg.ximg.mediumx2.jpg/f210d4ab2d.jpg"
        alt="görsel"
      />
    </div>
  </div>
  <div class="container">
    <header class="alt-baslik"><strong>RENAULT, İDDİALI LANSMANLARINI ÖDÜLLERLE TAÇLANDIRIYOR</strong></header>
    <div class="row">
<ul>
<li>Renault, 2023 yılında gerçekleştirdiği lansmanlarla ödülleri toplayarak, başarılarını taçlandırı</li> 
<br>
<li>Bu yıl 12.si düzenlenen ACE of M.I.C.E. ödülleri töreninde, Yeni Renault Austral E-Tech Full Hybrid Bodrum Lansmanı 
  “En İyi Influencer Kampanyası” ödülünün sahibi oldu.</li>
<br>
<li>İletişim Danışmanlığı Şirketleri Derneği (İDA) tarafından düzenlenen PRİDA İletişim Ödülleri’nde ise
   Van’da gerçekleşen Yeni Renault Megane E-Tech %100 Elektrikli lansmanı ve Gökçeada’daki Renault Austral lansmanı
    Prida jürisi tarafından iki ayrı birincilik olmak üzere toplam 3 farklı kategoride ödüle layık görüldü.</li>
<br>
</ul>
<p>Renault, gerçekleştirdiği birbirinden farklı ve özel lansmanlarla ödülleri toplamaya devam etti.</p>
<br>
<p>Otomotiv Distribütörleri ve Mobilite Derneği (ODMD) 2023 Satış ve İletişim Ödülleri’nde kazandığı “Yılın Basın Lansmanı” ödülünün ardından,
 İstanbul Marketing Awards, ACE of M.I.C.E. Awards ve Prida İletişim Ödülleri’nden aldığı ödüllerle, toplamda kazandığı ödül sayısını 6’ya çıkardı.</p> 
 <br>
<p><b>En İyi Influencer Kampanyası: Yeni Renault Austral E-Tech Full Hybrid Bodrum Lansmanı</b></p>
<br>
<p>Turizm ve etkinlik sektörünün “Oscar”ları olarak bilinen ve sektörün en iyilerinin ödüllendirildiği Masters of Events by ACE of M.I.C.E.
  Awards töreninin 12.sinde Yeni Renault Austral E-Tech Full Hybrid Bodrum Lansmanı “En İyi Influencer Kampanyası” seçildi.</p>
<br>
<p>Influencerlardan oluşan 22 davetliyle, Bodrum’da gerçekleştirilen Yeni Austral E-Tech Full Hybrid etkinliğinde buluşan Renault,
Güney Ege’nin en güzel duraklarında “Her Anı Fark Et” konseptiyle davetlilere harika bir deneyim yaşattı.</p>
<br>
<p><b>Renault’ya Prida İletişim Ödülleri’nden üç ödül</b></p>
<p>İletişim Danışmanlığı Şirketleri Derneği (İDA) tarafından düzenlenen PRİDA İletişim Ödülleri’nde bugüne kadarki en iyi Renault deneyimini
  yaşatma hedefiyle hayata geçirilen Yeni Renault Austral Lansmanı, “Lansman/Relansman/Konumlandırma”
    kategorisinde büyük ödülü alarak “Prida Ödülü”ne layık görüldü.</p>
<br>
<p>Türkiye’nin en batı ucu Gökçeada’da gerçekleştirilen Yeni Renault Austral Lansmanı için öncelikle etkinlik konsepti ve etkinliğin
 tamamen üzerine kurgulanacağı fikir için bir manifesto ve hashtag yaratıldı.
  Önemli olanın bir yerden bir yere varmamın değil, bu yolculukta yaşanılanlar olduğunu hatırlamak için her anı yeni ve unutulmaz
   deneyimlerle dolu bir lansman planlandı.</p>
<br>
<p><b>Sınırları zorlayan Megane E-Tech %100 Elektrikli Lansmanı</b></p>
<br>
<p>Renault, elektriğin bile olmadığı bir konumda, adeta meydan okurcasına gerçekleştirdiği Megane E-Tech %100 Elektrikli
 Lansmanı da Prida İletişim Ödülleri’nde “Yaratıcı İçerik Üretimi” kategorisinde büyük ödülü kazandı.
   “Yaratıcı Basın Buluşması” kategorisinde de ikincilik sertifikası kazanan Megane E-Tech %100 Elektrikli Lansmanı, törende iki ödülün birden sahibi oldu.</p>
<br>
Tarihi ve coğrafi önemiyle ön plana çıkan Van’da gerçekleşen lansman 3 bin metre yükseklikte,
 nefes kesen bir rota üzerinde gerçekleşti. Van Müzesi’nden başlayan yolculuk, 1.400 metrelik Karabet Kar Tüneli ile devam etti.
   “Beygir Gücünden Elektrik Gücüne” mottosu ışığında 30’dan fazla eğitimli at ve yepyeni Megane E-Tech'ler Karabet Kar Tüneli’nde buluştu
    ve geçmişin manuel gücünden geleceğin teknolojisine doğru bir zaman tüneli yaratıldı. 
    </div>
  </div>
</div>
