<div>
    <div>
      <header class="head">
        <h1>
          <strong>YENİ RENAULT CAPTUR TÜRKİYE’DE</strong>
        </h1>
      </header>
      <p class="sari"></p>
      <p id="tarih"><strong>16.03.2025</strong></p>
      <div class="ana-görsel">
        <img
          src="https://cdn.group.renault.com/ren/master/renault-new-cars/product-plans/captur-hjb-ph2/overview/editorial/captur-hjb-overview-015-desktop.jpg.ximg.mediumx2.jpg/2c1181a3fc.jpg"
          alt="görsel"
        />
      </div>
    </div>
    <div class="container">
      <div class="row">
        <ul>
          <li>
            Yeni Renault Captur’un Türkiye lansmanı, Bodrum’da yapılan test
            sürüşleri ve etkinlikler ile gerçekleştirildi.
          </li>
          <br />
          <li>
            Yeni Renault Captur, yenilenen dış görünümü, dikkat çekici tasarımı ve
            donanımı ile B segmentinde üst düzey bir SUV dünyası sunuyor.
          </li>
          <br />
          <li>
            Yeni Renault Captur, 1.595.000 TL’den başlayan fiyatıyla satışa
            sunuluyor.
          </li>
          <br />
        </ul>
        <p>
          Yeni Renault Captur, MAİS A.Ş. tarafından Bodrum’da gerçekleştirilen
          basın lansmanı ile Türkiye pazarına giriş yaptı. Yaklaşık 10 yıl önce
          ilk kez yollara çıkan ve 90 ülkede iki milyondan fazla satan Renault
          Captur, SUV sınıfının en önemli temsilcileri arasında yer alıyor.
        </p>
        <br />
        <p>
          <b>MAİS A.Ş. Genel Müdürü Dr. Berk Çağdaş,</b> “B-SUV segmentine yeni
          bir boyut getireceğinden hiç şüphemizin olmadığı Yeni Renault Captur’u
          Türkiye pazarına kazandırdığımız için büyük mutluluk duyuyoruz.
          Yıllardır Türkiye’nin en sevilen SUV modellerinden olan Captur’un yeni
          ve dikkat çekici görünümünün, konforlu iç mekânının ve Renault’nun en
          son teknoloji ile geliştirdiği donanımlarının kullanıcılar tarafından
          çok beğenileceğine eminiz. Elektrifikasyon alanında gerçekleştirdiğimiz
          atılımlarımızın en değerli örneklerinden biri olan Yeni Renault Captur,
          aynı zamanda OYAK’ın Türkiye otomotiv sektöründe gerçekleştirdiği
          atılımların da önemli bir adımını oluşturuyor” dedi.
        </p>
        <br />
        <p>
          Kompakt dış boyutları ve geniş iç mekânı sayesinde hem şehir içi hem de
          şehir dışı kullanım için duyulan gereksinimlere aynı derecede uyum
          sağlayan modüler bir yapıya sahip.
        </p>
        <br />
        <p>
          Geleneksel özelliklerinin birçoğunu koruyan Yeni Renault Captur; sahip
          olduğu bu özellikleri en ileri teknolojiler ile entegre ederek yepyeni
          bir görünüme ve donanıma kavuşuyor. Yeni Esprit Alpine donanım
          seviyesiyle iç ve dış tasarımda daha zarif ve sportif bir karakter
          ortaya koyan Yeni Renault Captur’un iç mekânını ise yeni döşemeler ve
          yeni ekranlar süslüyor. Yeni elektronik mimari, Seviye 2 otonom sürüş
          özelliği ve Aktif Sürüş Yardımcısı da dâhil olmak üzere en güncel sürüş
          yardımcılarıyla güvenliği yeni seviyelere taşınıyor.
        </p>
        <br />
        <p>
          Yeni Renault Captur, mild hybrid EDC 160 hp ve E-Tech full hybrid 145 hp
          versiyonu da dâhil olmak üzere iki farklı motor seçeneğiyle satışa
          sunuluyor. Daha fazla sürüş keyfi ve daha dinamik bir sürüş için şasi ve
          hidrolik direksiyonu yeniden tasarlanırken, 4 farklı MULTI-SENSE sürüş
          modu sayesinde sürücünün sürüş stiline en uygun modu seçebilmesine
          olanak sağlıyor.
        </p>
        <br />
        <p><b>Atletik Bir Dış Görünüm</b></p>
        <p>
          Yeni Renault Captur; yeni renk seçeneği Kaya Gri, Esprit Alpine donanım
          seviyesi ve premium tarzıyla daha atletik bir görünüm ortaya koyuyor.
          Hem aerodinamiği iyileştiren hem de motor ve frenlerin soğumasını
          sağlayan hava girişleri, modele estetik bir görünüm kazandırıyor.
          Versiyona göre sunulan üç farklı tavan ve yan ayna rengi seçeneğiyle
          Yeni Renault Captur’un dış görünümü daha da dikkat çekici hale geliyor.
        </p>
        <br />
        <p>
          Zengin aksesuar yelpazesi, alt gövde karşılama aydınlatması, birinci
          sınıf yan basamaklar, elektrikli geri çekilebilir çeki demiri, bisiklet
          taşıyıcı ve aydınlatmalı kapı eşikleri dâhil olmak üzere, sipariş
          üzerine veya satış sonrası bayi üzerinden temin edilebiliyor.
        </p>
        <br />
        <p><b>Konforlu, Keyifli ve Pratik Bir Sürüş Deneyimi</b></p>
        <br />
        <p>
          Yeni Renault Captur’un iç mekânı, uygulanan geliştirmeler ve yeni
          tasarım detayları ile daha keyifli bir sürüş deneyimi sunuyor. OpenR
          Link bilgi-eğlence sistemi ve versiyona bağlı 10,25 inç yeni gösterge
          ekranı daha pratik bir sürüş olanağı tanırken; yeni döşemeler ve
          detaylar ise iç tasarımı daha göz alıcı hale getiriyor. Yeni Esprit
          Alpine donanım seviyesi ise çok sayıda sportif tasarım ayrıntısıyla
          kullanıcıları özel bir sürüş deneyimine davet ediyor. Yeni Renault
          Captur, B segmentinde öncü olarak Android Automotive 12 sistemi ile
          günümüzün en gelişmiş araç içi teknolojisini barındırıyor. 10,4"
          multimedya ekranı, entegre Google bağlantılı hizmetler özelliğine erişim
          imkanı sağlıyor. Bu hizmetler ile birlikte Google sesli asistan, canlı
          navigasyon ve Google Play üzerinden seçili birçok uygulamaya kolayca
          erişilebiliyor.
        </p>
        <br />
        <p>
          Yeni Renault Captur’da MULTI-SENSE ayarlarına merkezi dokunmatik ekran
          veya direksiyon üzerindeki düğme üzerinden erişiliyor. Dijital gösterge
          paneli için dört görünüm, beş widget, hız göstergesi ekranı için 8 renk
          ve kapı panellerindeki LED ambiyans aydınlatması için 48 renk arasından
          seçim yapılabiliyor.
        </p>
        <br />
        <p>
          Kabin, toplam 24,7 litre saklama alanı ile gelişmiş bir işlevsellik
          sunuyor. Kızaklı arka koltuk özelliğinin sağladığı 221 mm’lik arka
          koltuk diz mesafesi rahat bir yolculuk sağlıyor. Mild hibrit motora
          sahip versiyonlarda arka koltuk sırası tamamen ileri itildiğinde,
          sınıfının en iyi değerine ulaşan ve 616 litreye varan (536 dm3 VDA)
          bagaj hacmi sunuyor.
        </p>
        <br />
        <p><b>Farklı Motor Seçenekleri</b></p>
        <br />
        <p>
          Yeni Renault Captur, modern ve verimli güç-aktarma sistemleriyle
          şehirde, otoyolda veya şehirlerarası yollarda keyifli bir sürüş deneyimi
          sağlıyor. 145 hp gücündeki E-Tech full hybrid motoru, 4,7 l/100km
          ortalama yakıt tüketimi ve 10 g/km CO2 salımı ile yakıt verimliliği ve
          emisyon değerleri açısından en yüksek standartları karşılıyor. Ayrıca
          şehir içinde şarj stresi olmadan tam elektrikli bir otomobil kadar
          sessiz bir sürüş tecrübesi yaşatıyor. Mild hybrid EDC 160 hp motor
          seçeneği segmentindeki en yüksek performanslardan birini sunarken, 12 V
          mild hybrid teknolojisi sayesinde düşük yakıt tüketimi ve verimlilik
          sağlıyor.
        </p>
        <p><b>MULTI-SENSE ile Farklı Sürüş Modları</b></p>
        <br />
        <p>
          Merkezi ekrandan erişilebilen MULTI-SENSE; ECO, SPORT, COMFORT ve
          MYSENSE olmak üzere dört sürüş modunu içeriyor. Direksiyon sertliği ve
          motor tepkisi olmak üzere sürüş karakteri ile birlikte iç aydınlatma ve
          gösterge ekranının rengi her mod için değişiyor.
        </p>
        <br />
        <p>
          <b
            >Güvenlik ve Sürüş Yardımları: En İyi Aktif ve Pasif Güvenlik
            Seviyesi</b
          >
        </p>
        <br />
        <p>
          Yeni Renault Captur, sahip olduğu ileri teknolojilerle pasif ve aktif
          güvenlik açısından fark yaratıyor. Güvenlik, sürüş ve park olmak üzere
          üç kategoriye ayrılan 23 adet yeni nesil sürüş yardımcısı (ADAS)
          içeriyor. Ayrıca Güvenlik Koçu, daha dikkatli sürüş için
          kişiselleştirilmiş tavsiyeler sağlıyor.
        </p>
        <br />
        Yeni Renault Captur, 1.595.000 TL’den başlayan fiyatıyla ve geliştirilmiş
        yepyeni versiyonuyla Renault yetkili satıcılarında kullanıcılarını
        bekliyor.
      </div>
    </div>
  </div>
  