<div>
  <div>
    <header class="head">
      <h1><strong>İÇİMİZDEN BİRİ: YENİ RENAULT DUSTER TÜRKİYE'DE</strong></h1>
    </header>
    <p class="sari"></p>
    <p id="tarih"><strong>16.03.2025</strong></p>
    <div class="ana-görsel">
      <img
        src="https://cdn.group.renault.com/ren/master/renault-new-cars/product-plans/duster-p1311/product-plan/herozone/renault-duster-p1311-ph1-001-background-2-desktop.jpg.ximg.mediumx2.jpg/0e4676512c.jpg"
        alt="görsel"
      />
    </div>
  </div>
  <div class="container">
    <header class="alt-baslik"><strong>İÇİMİZDEN BİRİ: YENİ RENAULT DUSTER TÜRKİYE'DE</strong></header>
    <div class="row">
<ul>
<li>“Renault Uluslararası Oyun Planı 2027” kapsamında, Türkiye'yi hem Avrupa pazarı hem de uluslararası ihracatta merkez haline getirmeyi amaçlayan
   en önemli adımlardan biri atılıyor.</li> 
<br>
<li>Yıllardır Türkiye’deki SUV pazarının dinamiklerini belirleyen Duster,
   Renault markası altında yepyeni teknik donanımı, geliştirilmiş özellikleri ve dikkat çekici görünümü ile kullanıcılarıyla buluşuyor.</li>
<br>
<li>Yeni Renault Duster, 25 Nisan’da İstanbul’da gerçekleştirilen basın lansmanı ile fiziksel olarak dünyada ilk kez Türkiye’de tanıtıldı.</li>
<br>
<li>Bursa’da bulunan Oyak Renault Otomobil Fabrikaları’nda üretilecek olan Yeni Renault Duster,
   hem Türkiye pazarına sunulacak hem de dünyanın çeşitli noktalarına ihraç edilecek.</li>
<br>
<li>Mayıs ayı sonunda ön siparişe açılacak olan Yeni Renault Duster, 2024 yazında yollarda olacak.</li>
</ul>
<p>Yaklaşık 100 ülkede 1,7 milyonun üzerinde satılan Duster,
   başarı hikayesinde yeni bir sayfa açıyor. Bu başarı hikayesi,
    “Renault Uluslararası Oyun Planı 2027” kapsamında sadece Avrupa'nın değil dünyanın diğer ülkelerinin de küresel ihracat merkezi olarak seçilen Türkiye’de Renault markası ile devam ediyor.</p>
<br>
<p>Yeni Renault Duster’ın tanıtımı, “Türkiye’nin Duster’ı Yeni Renault Duster”
   mottosuyla oyunun şeklini yeniden belirleyen bir lansman kurgusu ile 25 Nisan’da
    dünyada ilk kez İstanbul’da gerçekleştirildi. Bursa Oyak Renault Otomobil Fabrikaları’nda üretilecek
     ve dünyanın çeşitli ülkelerine ihraç edilecek olan Yeni Renault Duster, büyük ilgi topladı.</p> 
 <br>
<p>Benzersiz ön tasarımı ve Renault imzasını taşıyan ön ızgarasıyla güçlü bir tasarım sunan Yeni Renault Duster,
   farklı gereksinimlere cevap veren iki veya dört çekişli motor seçenekleriyle yollara çıkacak.
    Yeni Renault Duster’a sahip olmak isteyen ilk kullanıcılar için ön sipariş sistemi mayıs ayı sonunda açılacak.</p>
<br>
<p><strong>MAİS Genel Müdürü Dr. Berk ÇAĞDAŞ,</strong>“Aralık 2023’te Renault Markası CEO’su Fabrice Cambolive’in katılımıyla İstanbul’da
   duyurduğumuz Renault Uluslararası Oyun Planı 2027 ile Türkiye’nin bir ihracat merkezi haline geleceğini ve
    2027 yılına kadar Bursa Oyak Renault Otomobil Fabrikaları’nda 3’ü SUV olmak üzere 4 yeni Renault modeli üretileceğini vurgulamıştık.
     Bugün ise bu planın ilk ve en önemli adımlarından biri olan Yeni Renault Duster’ı tanıtmaktan mutluluk duyuyoruz. Yeni Renault Duster,
      bildiğimiz Duster deneyimini yeni bir boyuta ulaştıran ve bu yeni deneyimi Türkiye’den dünyaya taşıyan ayrıcalıklı bir model. OYAK’ın,
       Renault Group ile birlikte gerçekleştireceği 400 milyon Euro’nun üzerinde yatırım,
        Yeni Renault Duster ile birlikte hem Renault’nun hem de Türkiye’nin uluslararası konumunu daha da güçlendirecek” dedi.</p>
<br>
<p><b>CMF-B, kompakt, modern bir platform</b></p>
<p>Yeni Renault Duster; Clio, Captur ve Arkana modellerinde de kullanılan CMF-B platformu ile üretilen yüksek teknolojili bilgi-eğlence donanımlarına sahip yeni nesil bir model.
   CMF-B platformu benzinli tam hibrit, 48V yarı hibrit ve LPG dahil olmak üzere farklı motor türlerini,
    çoklu enerji çözümleriyle beraber getiriyor.</p>
<br>
<p>Yeni Renault Duster, 4,34 metrelik uzunluğunu koruyor.
   Böylece hem günlük şehir içi sürüşe hem de uzun mesafeli yolculuklara uygun kompakt bir yapı sunmaya devam ediyor.
    Bagaj hacmini artırarak 594 litreye varan bagaj alanına sahip olan Yeni Renault Duster,
     iç mekânda ise yaklaşık 29 litrelik saklama alanı sunuyor.</p>
<br>
<p><b>Özellikle hibrit çözümlere ağırlık veren birden fazla motor seçeneği</b></p>
<p>Yeni Renault Duster, ultra verimli E-Tech tam hibrit motor sistemi de dahil üç farklı motor seçeneği ile satışa sunulacak.
   145 hp güç üreten gelişmiş tam hibrit motor seçeneğiyle ortalama 5 lt/100 km yakıt tüketimi ve 114 gr/km CO2 emisyonuna sahip olan model,
    karma döngüde %20’ye varan, şehir içi döngüde ise %40'a kadar avantaj sağlıyor.
     Yolculuk süresinin %80'ine kadar elektrik modunda çalışabilmesinin yanı sıra,
      yine elektrik modunda ilk kalkış hareketini yapabiliyor. </p>
<br>
  <p>Yeni Renault Duster aynı zamanda 6 ileri vitesli manuel şanzımanla eşleştirilen 130 hp gelişmiş 1,2 litre yarı hibrit motor seçeneği
     ve 4x4 güç-aktarma sistemiyle de sunuluyor. 3 silindirli turbo benzinli motoru, yaklaşık %10 yakıt tasarrufu ve daha akıcı bir sürüş için
      ek tork sağlamak üzere 0,8 kWsa kapasiteli 48V batarya ile desteklendi. Bu versiyonun ortalama tüketimi 6 lt/100 km ve CO2 emisyonu ise
       136 gr/km.</p>
<br>
<p><b>Renault Group Türkiye CEO’su Jan PTACEK,</b>“Yeni Renault Duster'ın Bursa'daki Oyak Renault fabrikasında
   üretilecek olmasından gurur duyuyoruz. Yeni Renault Duster, Türkiye'de 4 yeni Renault modelini üretmemizi sağlayacak olan
    Uluslararası Oyun Planı 2027'nin ilk adımıdır. Yeni Renault Duster, markayı güçlendirmemize, SUV pazarındaki ayak izimizi
     genişletmemize ve elektrifikasyon stratejimizi uygulamamıza yardımcı olacak. Bursa fabrikamızı sadece Avrupa için değil,
      dünyanın geri kalanı için de bir ihracat merkezine dönüştüreceğiz. Oyak-Renault, yüksek düzeyde endüstriyel mükemmelliğe ve
       Avrupa'daki en iyi kalite seviyelerinden birine ulaşmıştır. Yeni Renault Duster lansmanı, Türkiye'deki endüstriyel varlığımızın
        gelişiminde yeni bir kilometre taşı olacak" diye konuştu.</p>
<br>
<p><b>Uluslararası Pazarlar Ürün Direktörü Juan-Camilo VELEZ MARTINEZ ise,</b>“CMF-B platformu sayesinde Yeni Renault Duster,
   çok enerjili güç aktarma organlarından ve yüksek teknolojili multimedya donanımlarından yararlanacak. Yeni Renault Duster,
    145 beygirlik E-Tech tam hibrit güç aktarma sistemi ile modern ve ekonomik bir kullanım sunarken, openR 10.1'' multimedya dokunmatik
     ekranının bağlanabilirliği sayesinde düzenli güncellemelere erişim sağlıyor” dedi.</p>
<br>
<p><b>Gerçek 4x4 becerileri</b><br>4x4 özellikleriyle donatılan Yeni Renault Duster,
   farklı sürüş koşullarını kapsayan beş off-road moduna sahip: Auto, Eco, Off-Road,
    Çamur&Kum ve Kar. Gelişmiş 4x4 ekranı; pusula, altimetre, yanal ve dikey açılarının yanı sıra tork dağılımı da
     dahil olmak üzere sürücüye zorlu koşullarda gerekli tüm bilgileri sağlıyor. Ayrıca multimedya ekranı 360’
      kameraya doğrudan erişim sağlarken, her viteste çalışan ve 30 km/s hıza kadar ayarlanabilen eğim iniş yardımcısı da içeriyor.
       Bunun dışında Yeni Renault Duster 4x4, gelişmiş dinamik performans için çok kollu bir arka süspansiyona sahip.</p>
<br>
<p><b>En güncel ileri sürüş destek sistemleri</b><br>Yeni Renault Duster’da daha rahat ve konforlu bir sürüş deneyimi sunmak üzere 17
   adede kadar yeni nesil sürüş destek sistemi mevcut. Ayrıca Yeni Renault Duster için güvenlik çok önemli. Şeritte kalma asistanı,
    şeritten çıkma uyarısı, aşırı hız uyarısı ve otomatik uzun/kısa far hem konforu hem de güvenliği artırmak üzere günlük sürüşü
     destekleyen özelliklerden sadece birkaçı. Otomatik acil durum fren sistemi ve “e-call” Acil Durum Çağrı sistemi ise acil durumlarda
      destek sağlıyor.</p>
<br>
<p><b>Araç içi konfora özellikle çaba gösterildi</b><br>Yeni Renault Duster'ın iç mekânı dış tasarımıyla uyum içinde olup,
   sakin ve dingin bir ortam yaratmak üzere tasarlandı. Titanyum Gri vurgulara sahip modern bir ön konsol, sağlam malzemeler,
    kaliteli grafik arayüzler, gri vurgulu özel koltuk döşemeleri ve koltuk sırtlığının üst kısmına entegre edilen Renault logosu gibi
     özel ayrıntılar bir araya gelerek benzersiz bir bütün oluşturuyor. </p>
<br>
<p>Yeni Renault Duster, kabinin farklı noktalarında (ön konsol, orta konsol, bagaj) yer alan 6 bağlantı noktasından oluşan
   yeni YouClip sistemiyle donatılıyor. YouClip; tablet tutucusu, akıllı telefon tutucusu veya bardaklık, kanca ve lambayı birleştiren
    3'ü 1 arada tutucu aksesuar gibi Renault tarafından araca özel olarak tasarlanan aksesuarları takıp sabitleme olanağı sağlıyor.</p>
<br>
<p><b>Safkan atletik SUV tasarımı</b><br>Yeni Renault Duster,
   iyi tasarlanmış gövde oranları ve gövdenin etrafını koruyucu bir kemer gibi dolaşan doğal,
    çizilmeye karşı dayanıklı, kendinden renkli, büyük ölçüde geri dönüştürülmüş malzemelerle hem sağlam hem de güven veren
     güçlü bir kimlik ortaya koyuyor. 17 inç veya elmas kesim alüminyum 18 inç jant seçenekleri bu güçlü görünümü destekliyor.
      Ayrıca Duster logolu ön kapı eklentileri ile birlikte ön ve arka tampon alt koruma kaplamalarıyla uyumlu gri ayna kapakları ise
       ayrıntıya gösterilen özenin altını çiziyor. </p>
<br>
<p>4x4 versiyonu, artırılmış yerden yüksekliği ve 4x4 logosuyla birlikte daha geniş yaklaşma ve uzaklaşma açılarına sahip özel
   tamponlarla donatılıyor. Tüm versiyonlarda farlara dikkat çekmeden yerleştirilen Renault logoları bulunurken,
    arkadaki aydınlatma gruplarını özel olarak tasarlanan bir şerit birbirine bağlıyor. Ayrıca yeni Renault Duster
     hem uzunlamasına hem de enine kullanım için tasarlanan maksimum 80 kg kapasiteli tavan raylarıyla donatılıyor. </p>
<br>
Tüm modellerde ses izolasyonunu artıran davlumbaz kaplamaları ve ön köşelerle gövde iskeleti arasında köpük dolgular
 dışında gelişmiş akustik yalıtım özelliklere sahip bir ön cam sayesinde ses yalıtımı açısından da önemli kazanımlar sunuyor.
      </div>
  </div>
</div>